SHORTS_API_KEY=
PEXELS_API_KEY=
SHORTS_DATA_DIR=/data
SHORTS_ALLOW_EDGE_FALLBACK=false

YANDEX_SPEECHKIT_API_KEY=
YANDEX_CLOUD_FOLDER_ID=

ELEVENLABS_API_KEY=
ELEVENLABS_VOICE_ID=
ELEVENLABS_MODEL_ID=eleven_multilingual_v2
